.glass{
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    @apply border-4 border-gray-50 rounded-3xl py-5 px-3 w-[350px] md:w-[450px]
}

.profile_img{
    @apply border-4 object-cover border-gray-100 w-[130px] h-[130px] rounded-full shadow-lg cursor-pointer hover:border-gray-200
}

.textbox{
    @apply border-0 w-[85%] px-5 py-4 rounded-xl shadow-sm text-lg focus:outline-none
}

.btn{
    @apply border bg-indigo-500 w-[85%] py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center
}

.btn:hover{
    background-color: #ff6a6a;
}